h1 { margin-top: 1em; font-weight: 100; font-family: 'Nunito', sans-serif; }
h2 { margin-top: 1em; font-weight: 100; font-family: 'Nunito', sans-serif; }
h3 { margin-top: 1em; font-weight: 100; font-family: 'Nunito', sans-serif; }
h4 { font-size: 1.5em; font-weight: 100; font-family: 'Nunito', sans-serif; }
h5 { font-size: 1.3em; font-weight: 100; font-family: 'Nunito', sans-serif; }
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
body {
    background-color: whitesmoke;
}

.pdf-container {
  padding-bottom: 20px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  /* padding: 18px; */
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  /*background-color: white;*/
  display: none;
  overflow: hidden;
}

.social-btns {
  padding-bottom: 20px; 
}

.social-btns a
{
     color: #888;
     text-decoration: none;
}