<head>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/skeleton.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/dependencies/devicon-master/devicon.min.css" | prepend: site.baseurl }}">
  <!-- <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
