<head>
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/skeleton.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="{{ "/dependencies/devicon-master/devicon.min.css" | prepend: site.baseurl }}">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="dYy2DrvCMn1lywto9XXtV7JU8prxJKQbYpVCd30Khhc" />
  
  <script>
  // Beautifully ugly little native js show-hide for the tables :)
  function toggleViewTable(button, tableClass, showingLabel, hidingLabel) {
  	var currentLabel = button.innerHTML
      var table = document.getElementsByClassName(tableClass)[0]
      console.log(currentLabel)
      switch (currentLabel) {
      	case hidingLabel:
          	console.log("Showing table " + tableClass);
              table.style.cssText = ""
              button.innerHTML = showingLabel;
              break;
          case showingLabel:
          	console.log("Hiding table " + tableClass);
              table.style.cssText = "display: none;"
              button.innerHTML = hidingLabel;
              break;
  	}

  }
</script>
</head>
